// CONTENT
$color-body-bg: #f9f7f5;
$color-text: #444;
$color-heading-text: #35495e;

// LINKS
$color-link-text: #39a275;
$color-link-text-active: $color-text;

// INPUTS
$color-input-border: lighten($color-heading-text, 50%);

// BUTTONS
$color-button-bg: #e0e0e0;
$color-button-disabled-bg: #aeaeae;
$color-button-text: #3f3f3f;

$color-button-disabled-bg-outline: rgba(41, 98, 255, 0.1);
$color-button-text-outline: #3d5afe;
